.quadrado {
  width: 15px;
  height: 20px;
  margin: 1px;
  display: inline-block;
  background-color: gray;
}


.areacentral{

  display: flex;
  flex-direction: row;
  gap: 60px;

}

.clone{
  display: flex;
  flex-direction: row;
  gap: 10;
}