
body{
  background-color: rgb(15, 24, 153);
}

.quadrado {
  width: 15px;
  height: 20px;
  margin: 1px;
  display: inline-block;
  background-color: rgb(18, 171, 18);
}


.areacentral{

  display: flex;
  flex-direction: row;
  gap: 60px;

}

.clone{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.e10horiz{
  display: flex;
  flex-direction: row;
  margin: 20px;

}

.e10esp{
  margin-left: 10px;
  margin-right: 10px;
}